header {
  padding: var(--standard);
  background-color: gainsboro;
  nav {
    display: grid;
    grid-template-columns: max-content auto max-content;
    gap: var(--standard);
    a {
      width: fit-content;
    }
  }
}
