h1 {
  text-align: center;
  margin: var(--standard);
  font-weight: 100;
}
h2 {
  text-align: center;
  margin: var(--standard);
  font-weight: 100;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;

  td,
  th {
    padding: var(--standard);
  }
  th{
    font-weight: 100;
  }

  tr {
    border-bottom: 1px solid grey;
  }

  tr:nth-child(even) {
    background-color: gainsboro;
  }
}

.dashed {
  text-decoration: line-through;
}
